<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="Fxad4jN_3_xiDpyrNnTmaNgMgUIWkyLiUBMD9jLFW6o" />

<link rel="icon"
      type="image/png"
      href="/favicon.png">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<link rel="stylesheet" href="/css/global.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
